<div class="body">
    <div class="foto">
         
        <img src="/imagens/hamburger.jpg"  alt="hamburger">
    </div>
    <div class="form">
        <h2>FAÇA SUA RESERVA</h2>
        <form action="/reserva" method="post" onsubmit="return validarEmail()">
       <div class="inputs">
        
       <input type="text" name="nome" id="nome_reserva" placeholder="digite o seu nome" required>
       <input type="text" name="sobreNome" id="sobrenome" placeholder="digite o seu sobreNome" required>
       <input type="datetime-local" name="horaData" id="horario_data" required>
       <input type="number" name="quantidadePessoa" id="qtd_pessoas" placeholder="digite a quantidade de pessoas" required>
       
       <input type="email"  name="email" id="email_reserva"  placeholder="digite o seu email" required>
       
       <div class="botao">
        <input type="submit" value="enviar">
       </div>
         
           
       </div>
    </form>
             <div class="feedback">
           <p id="feedback" style="color: white; font-weight: bold;"></p>
           </div>
         {{#each reservas}}
  <div class="reserva">
    <p><strong>Nome:</strong> {{nome}} {{sobreNome}}</p>
    <p><strong>Horário:</strong> {{horaData}}</p>
    <p><strong>Quantidade de Pessoas:</strong> {{quantidadePessoa}}</p>
    <p><strong>Status:</strong> {{status}}</p>

    {{#if erro}}
       <p style="color: red;">{{erro}}</p>
    {{/if}}
    {{#if (eq status "ocupada")}}
      <form action="/reservas/liberar/{{id}}" method="post">
        <button class="liberar" type="submit">Liberar Mesa</button>
      </form>
    {{/if}}
 
{{/each}}
 </div>
    </div>
   
</div>